* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --branding-color: #ff7f50;
  --secondary-color: cornsilk;
  --highlight-color: #d2691e;
  --muted-color: #a9a9a9;

  /* Margin */
  --margin-level1: 1px;
  --margin-level2: 5px;
  --margin-level3: 10px;
  --margin-level4: 15px;
  --margin-level5: 20px;

  /* Padding */
  --padding-level1: 1px;
  --padding-level2: 5px;
  --padding-level3: 10px;
  --padding-level4: 15px;
  --padding-level5: 20px;

  /* Font Sizes */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-extra-large: 30px;
  --font-size-double-extra-large: 50px;
  --font-size-triple-extra-large: 100px;
}

.introduction {
  background-color: var(--secondary-color);
  padding: var(--padding-level5);
}

.introduction h1 {
  color: var(--branding-color);
  font-size: var(--font-size-triple-extra-large);
}
